<div class="container" style="padding:20px 0">
    {%- if is_head -%}
        <a name="Journals"></a>
        <div class="container" style="padding:0px 0"></div>
        <button class="btn btn-primary">Publications</button>
        <br>
        <div class="container" style="padding:8px 0"></div>
    {%- endif -%}
    <ul class="breadcrumb">
        <!--<li class="active"><a href="#Publications">著者分担執筆</a></li>-->
        <li><a href="#Journals">Journal Papers</a></li>
        <li><a href="#Conferences">Conference Papers</a></li>
        <li><a href="#Domestic">Others</a></li>
        <!--<li><a href="#Editorials">監修・ゲストエディタ</a></li>-->
    </ul>
</div>